html,
body {
	margin: 0;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #eee;
}

#screen {
	--blank-level: rgb(0,0,0);
	--line-level: rgb(var(--contrast),var(--contrast),var(--contrast));

	width: calc(1px * var(--resolution-width));
	height: calc(1px * var(--resolution-height));
	transform: scale(var(--scale));
	background: black;
	display: grid;
}

.pixel {
	width: 1px;
	height: 1px;
	background: var(--blank-level);
}

@keyframes decay {
	to {
		background: var(--blank-level);
	}
}